@{
    ViewData["Title"] = "Subjects Info";
    Layout = "_UserCabinetLayout.cshtml";
}

<div class="col-md-8">
    
    @* @if (Model.SubjectsInfos?.Any() == true) *@
    @* { *@
    @*     <div class="list-group-item flex-column align-items-start border-dark"> *@
    @* *@
    @*         @foreach (var subj in Model.SubjectsInfos) *@
    @*         { *@
    @*             <div class=""> *@
    @*                 <div class="d-flex w-100 justify-content-between"> *@
    @*                     <label class="mb-1">@subj.SubjectName</label> *@
    @*                     <label class="mb-1">@(subj.CostPerHour) UAH per hour</label> *@
    @*                 </div> *@
    @*                 <label class="mb-1">Tags</label> *@
    @*                 <p class="mb-1">@subj.Tags?.Select(t => t.Name).ToCommaSeparatedString()</p> *@
    @*             </div> *@
    @*         } *@
    @*          *@
    @*     </div> *@
    @* } *@

</div>