@page "/create-manager"
@using Lfm.Admin.Blazor.App.Models
@using Lfm.Domain.Admin.Services.DataWriters
@using AutoMapper
@using Lfm.Domain.Admin.Models.WriteModels
@using Microsoft.AspNetCore.Components.Forms;
@inject IManagersWriteService WriteService;
@inject IMapper Mapper;
@inject NavigationManager UriHelper;

<h1>Створення менеджера</h1>

<div class="row">
    <div class="col-md-4">
        
        
        <EditForm Model="@_formData" OnValidSubmit="@HandleValidSubmit">
            
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <div class="form-group">
                <label>Електронна пошта</label>
                <InputText id="Email" @bind-Value="_formData.Email"/>
            </div>

            <div class="form-group">
                <label>Ім'я</label>
                <InputText id="Name" @bind-Value="_formData.Name"/>
            </div>

            <div class="form-group">
                <label>Номер телефону</label>
                <InputText id="PhoneNumber" @bind-Value="_formData.PhoneNumber"/>
            </div>

            <div class="form-group">
                <button class="btn btn-success" type="submit">Створити</button>
            </div>

        </EditForm>


    </div>
</div>



@code {
    private readonly CreateManagerFormModel _formData = new();

    private async void HandleValidSubmit()
    {
        await WriteService.CreateManager(Mapper.Map<CreateManagerModel>(_formData));
        UriHelper.NavigateTo("/ManagersToCreate");
    }
}